* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slides {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: pink;
  scroll-snap-align: start;
}

.slides1{
  background: linear-gradient( blue,green);
}

.slides2{
  background: linear-gradient( green,pink);
}

.slides3{
  background: linear-gradient( pink,red);
}